body{
    padding: 100px;
}
table{
    border: 1px solid black;
}
th{
    text-align: center;
    background-color: red;
    color: white;
    border: 1px solid black;
}
td{
    text-align: center;
    border: 1px solid black;
    padding: 20px;
}