h1{
    text-align: center;
    background-color: lightpink;
    padding: 10px;
}
label{
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
}
input{
    border-radius: 3px;
    margin: 5px;
}
textarea{
    border-radius: 3px;
    margin: 5px;
    margin-left: 25px;
}
button{
    border-radius: 3px;
    margin: 5px;
    margin-left: 25px;
}